<form name="newProduct" ng-submit="newProduct.$valid && newCtrl.add()" novalidate>
    <div class="form-group">
        <label for="productname">Product Name</label>
        <input type="text" name="productname" id="productname" class="form-control" value="" ng-model="newCtrl.productname" required>


        <div class="validation" data-ng-show="newProduct.productname.$touched || newProduct.$submitted">
            <div data-ng-show="newProduct.productname.$error.required">
                Product name required
            </div>
        </div>

    </div>



    <div class="form-group">
        <label for="brandname">Brand</label>
        <input type="text" name="brandname" id="brandname" class="form-control" value="" ng-model="newCtrl.brandname" required>

         <div class="validation" data-ng-show="newProduct.brandname.$touched || newProduct.$submitted">
            <div data-ng-show="newProduct.brandname.$error.required">
                Brand name required
            </div>
        </div>



    </div>

    <div class="form-group">
        <label for="upc">UPC</label>
        <input type="text" name="upc" id="upc" class="form-control" value="" ng-model="newCtrl.upc" required>

 <div data-ng-show="newProduct.upc.$error.required">
                UPC number required
            </div>

    </div>

    <div class="form-group">
        <button class="btn btn-success form-control" type="submit">Save</button>
    </div>

    <div ng-show="newCtrl.showStatus">
        <h3>This entry has been added successfully.</h3>
    </div>

</form>

<button class="btn btn-success form-control" type="submit" ng-click="newCtrl.cx()">Back</button>