

<div class="row">
	<div class="col-md-12">
		<h2>Searching for ?</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="table">
			<thead>
				<tr>
                    <th>id</th>
					<th> Product Name</th>
					<th> Brand </th>
					<th> UPC</th>
				</tr>
			</thead>

			<tbody>
				<!--<tr ng-repeat="">
                    <td>{{id}}</td>
					<td>{{ po.ORDER_NUM }}</td>
					<td>{{ po.FREIGHT_COMPANY }}</td>
					<td>{{ po.SHIPPING_DATE }}</td>
				</tr>-->
			</tbody>
		</table>
	</div>
</div>

<!--<div class="row">
	<div class="col-md-offset-10 col-md-12">
		<button class="btn btn-warning" type="button"
				ng-click="">
			Back
		</button>
	</div>
</div>-->